@media only screen and (max-width: 1140px) {
    #lazy_lounge_container {
        margin: 25px auto;
        width: 100%;
    }

    #mutant_llama {
        display: none;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  }